<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="CX" value="SDP2230PCIE,THP2230MS,JFP2230MS,DGP2230,MpLCmbo,OKP2230,SFP1216SD,SFP2230M2_USB,SP1NGFFPCIE,SP2NGFFPCIE,STP2230_D1,WP2A,WP2HMC,WP2NGFFPCIE,WP2SD,WSP2230MS" />
    <add key="WZ" value="JFP1_2230DIV,SDP2230PCIE,SFP2230M2_HE,SFP2230M2_USB,SP1NGFFPCIE,SP2NGFFPCIE,STP1_1216SD_1.8v,STP1_1216SD_3.3v,STP1216SD_1.8v,STP1216SD_3.3v,STP1216SD_D1,STP2230_D1,WP1HMC,WP1NGFFPCIE,WSP1216SD_USB,WSP2230MS" />
    <add key="CX_WIGIG" value="DGP2230,MpLCmbo,MpLSNK,OKP2230,PnP" />
    <add key="FS" value="SDP2230PCIE,SFP2230M2_USB,SP1NGFFPCIE,SP2NGFFPCIE,WP1NGFFPCIE,WP2NGFFPCIE,WSP2230MS" />
    <add key="pullPathList" value="\\tdemwgapp01.amr.corp.intel.com\XmlArchive\ProductNames\" />
    <add key="xmlPath" value="\\tdemwgdb01.amr.corp.intel.com\AutoReporting\Reports\data\" />
    <add key="reportPath" value="\\tdemwgdb01.amr.corp.intel.com\AutoReporting\Reports\reports_daily\" />
    <add key="logPath" value="\\tdemwgdb01.amr.corp.intel.com\AutoReporting\Reports\logs" />
    <add key="errorCodeList" value="WIFI_FT_ERR-034,WIGIG_FT-ERR-128" />
  </appSettings>
</configuration>