<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="reportPath" value="\\tdemwgdb01.amr.corp.intel.com\AutoReporting\Reports\reports_daily" />
    <add key="reportDBPath" value="\\tdemwgdb01.amr.corp.intel.com\AutoReporting\Reports\reports_monthly" />
    <add key="emails" value="shoujie.he@intel.com,max.wan@intel.com,abu.hassan.din@intel.com,kim.heong.cheng@intel.com,zainal.aizam@intel.com,sui.minh.khaw@intel.com,nur.hamizah.binti.azman@intel.com,christopher.raj.pushparajan@intel.com,karen.kah.yan.lee@intel.com,cheng.looi.ng@intel.com,wooi.teong.tan@intel.com,ethan.how.chen.wong@intel.com,Ginger.Jiang@intel.com,dean.lu@intel.com,huichen.zheng@intel.com,allen.xu@intel.com" />
    <add key="logPath" value="\\tdemwgdb01.amr.corp.intel.com\AutoReporting\Reports\logs" />
  </appSettings>
</configuration>